#hero {
  position: relative;
  background-image: linear-gradient(to right, #285430, #5f8d4e);
  color: #fff;
  padding-top: 6%;
}
.title {
  font-weight: bolder;
  margin-top: 80px;
}
.description {
}
.visit {
  position: absolute;
  padding: 0 30px;
  border-radius: 10px;
  z-index: 1001;
}
.visit:hover {
  background-color: #0014ef;
  cursor: pointer;
}
.ban-img {
  position: relative;
  z-index: 1000;
}
.wave {
  position: absolute;
  bottom: -10px;
  left: 0;
}
