#nav {
  position: sticky;
  top: 0;
  z-index: 1001;
}
.navbar {
  background-image: linear-gradient(to right, #285430, #5f8d4e);
}

.navbar-brand span {
  font-weight: bolder;
  color: #fff;
}

.navbar-nav ul li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  opacity: 1;
  font-weight: bold;
  text-transform: uppercase;
}
