#pricing {
  padding: 80px 0;
  background: #eff5f5;
}

#pricing .fade-in {
  opacity: 0;
  transform: translateY(0, -40px);
  transition: 0.5s;
}
/* penambahan untuk jquery */
#pricing .fade-in.munculKiri {
  opacity: 1;
  transform: translateY(0, 0);
}
#pricing h4 {
  margin-top: 15%;
}
#pricing ul li {
  margin-top: 10px;
  list-style: none;
}
#pricing .btn {
  border-radius: 15px;
  margin: 0 20px;
}

#pricing ul li:hover {
  transition: 0.2s;
  transform: scale(1.02);
  text-shadow: 2px 4px 8px #3333;
}
